@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Karla", sans-serif;
}

/*Global styles*/
button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 8px 10px;
  transition: 0.3s ease-in-out;
}
a {
  transition: 0.3s ease-in-out;
}
h1,
h2,
h3,
h4 {
  font-family: "DM Serif Display", sans-serif;
  font-weight: 700;
}
p {
  font-size: 12px;
  font-weight: 400;
  color: hsl(273, 4%, 51%);
}

/*Global styles*/
#main-page {
  max-width: 1440px;
  padding-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}
@media screen and (max-width: 375px) {
  #main-page {
    max-width: 375px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
  }
}
/*styles for header*/
header {
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 375px) {
  header {
    position: relative;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
  }
}
nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 375px) {
  nav {
    position: absolute;
    top: 66px;
    left: 0;
    width: 100%;
    padding: 30px;
    background-color: hsl(270, 9%, 17%);
    text-align: center;
    display: none;
    z-index: 111;
  }
}
nav ul li {
  width: 100px;
  text-align: center;
  margin-right: 15px;
}

nav ul li a {
  display: block;
  width: 100%;
  color: hsl(273, 4%, 51%);
  font-size: 12px;
  font-weight: 700;
}
nav ul li:last-child {
  margin-right: 0;
}
nav ul li a:hover {
  color: hsl(270, 9%, 17%);
}
@media screen and (max-width: 375px) {
  nav ul {
    width: 100%;
    display: block;
  }
  nav ul li {
    width: 100%;
    margin: 0;
    margin-bottom: 30px;
  }
  nav ul li a {
    font-size: 16px;
    color: hsl(0, 0%, 98%);
  }
}
.view-plan button {
  text-align: center;
  border: 2px solid hsl(270, 9%, 17%);
  color: hsl(270, 9%, 17%);
  padding: 8px 10px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 1px;
}
.view-plan button:hover {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
}
.for-mobile {
  display: none;
}
@media screen and (max-width: 375px) {
  .view-plan button {
    display: none;
  }
  .for-mobile {
    display: block;
  }
  .view-plan.for-mobile button {
    display: block;
    width: 90%;
    border-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 98%);
    margin-left: auto;
    margin-right: auto;
  }
}
.toggle {
  display: none;
}
@media screen and (max-width: 375px) {
  .toggle {
    display: block;
  }
  .close {
    display: none;
  }
}

/*end of headre*/
.humanizing {
  position: relative;
  background-color: hsl(270, 9%, 17%);
  padding: 50px 70px;
  margin-top: 15px;
}
@media screen and (max-width: 375px) {
  .humanizing {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    padding: 0;
  }
}

.humanizing span,
.different span {
  display: block;
  width: 100px;
  height: 2px;
  background-color: hsl(273, 4%, 51%);
  border: 10px;
}
@media screen and (max-width: 375px) {
  .humanizing span {
    display: none;
  }
  .different span {
    margin-left: auto;
    margin-right: auto;
  }
}
h1 {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  width: 300px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.humanizing p {
  width: 300px;
  margin-bottom: 15px;
}
.humanizing button {
  background-color: hsl(270, 9%, 17%);
  color: hsl(0, 0%, 98%);
  border: 2px solid hsl(0, 0%, 98%);
}
.humanizing button:hover {
  color: hsl(270, 9%, 17%);
  background-color: hsl(0, 0%, 98%);
  border-color: hsl(270, 9%, 17%);
}
@media screen and (max-width: 375px) {
  .humanizing h1 {
    -moz-box-ordinal-group: 2;
    -webkit-box-ordinal-group: 2;
    text-align: center;
  }
  .humanizing p {
    -moz-box-ordinal-group: 3;
    -webkit-box-ordinal-group: 3;
    text-align: center;
  }
  .humanizing button {
    display: block;
    -moz-box-ordinal-group: 4;
    -webkit-box-ordinal-group: 4;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
}
.humanizing .family {
  position: absolute;
  right: 70px;
  top: 50px;
  width: 300px;
  height: 400px;
}
@media screen and (max-width: 375px) {
  .humanizing .family {
    position: unset;
    right: unset;
    top: unset;
    width: 100%;
    -moz-box-ordinal-group: 1;
    -webkit-box-ordinal-group: 1;
  }
}
.bg-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: 100%;
}
.bg-left {
  position: absolute;
  left: 0;
  bottom: -50%;
  width: 100px;
}
@media screen and (max-width: 375px) {
  .bg-left,
  .bg-right {
    display: none;
  }
}
/*end offirst article*/

/*start of the second article*/
.different {
  margin-top: 150px;
  padding: 10px 70px;
}
@media screen and (max-width: 375px) {
  .different {
    margin-top: 20px;
    padding: 0;
  }
}
h2 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  color: hsl(270, 9%, 17%);
  margin-bottom: 15px;
  letter-spacing: 1px;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container > div {
  margin-right: 15px;
}
.container > div:last-child {
  margin-right: 0px;
}
@media screen and (max-width: 375px) {
  .container {
    display: block;
  }
  .container > div {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.container img {
  width: 32px;
  height: 32px;
  display: block;
  margin-bottom: 10px;
}
h3 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 700;
  color: hsl(270, 9%, 17%);
  margin-bottom: 15px;
  letter-spacing: 1px;
}
@media screen and (max-width: 375px) {
  h2,
  h3,
  .container p {
    text-align: center;
  }
  .container img {
    margin-left: auto;
    margin-right: auto;
  }
}
/*end of the second article*/
/*start of the third article*/
.how {
  margin-right: 70px;
  margin-left: 70px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(270, 9%, 17%);
  background-image: url("images/bg-pattern-how-we-work-desktop.svg");
  background-repeat: no-repeat;
  background-position: top right;
  margin-bottom: 30px;
}
@media screen and (max-width: 375px) {
  .how {
    margin: 0;
    padding: 0 0 20px 0;
    display: block;
    background-image: url("images/bg-pattern-how-we-work-mobile.svg");
  }
}
.how h2 {
  font-size: 24px;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
}
.how button {
  border: 1px solid hsl(0, 0%, 98%);
  color: hsl(0, 0%, 98%);
}
.how button:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(270, 9%, 17%);
  border-color: hsl(270, 9%, 17%);
}
@media screen and (max-width: 375px) {
  .how h2 {
    text-align: center;
  }
  .how button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
/*end of the third article*/
/*start of the footer*/
footer {
  padding: 40px 70px;
  background-color: hsl(0, 0%, 98%);
  background-image: url("images/bg-pattern-footer-desktop.svg");
  background-repeat: no-repeat;
  background-position: top left;
}
@media screen and (max-width: 375px) {
  footer {
    padding: 0;
    background-image: url("images/bg-pattern-footer-mobile.svg");
    padding-top: 40px;
    padding-bottom: 15px;
  }
}
.logo-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid hsl(0, 0%, 92%);
}
.logo-social a {
  margin-right: 10px;
}
.logo-social a:last-child {
  margin-right: 0;
}
.logo-social a i {
  color: hsl(273, 4%, 51%);
}
@media screen and (max-width: 375px) {
  .logo-social {
    display: block;
    text-align: center;
  }
  .social {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.logo-social a:hover i {
  color: hsl(270, 9%, 17%);
}

.links-category {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 375px) {
  .links-category {
    display: block;
  }
}

h4 {
  font-size: 14px;
  font-weight: 700;
  color: hsl(273, 4%, 51%);
  margin-bottom: 25px;
  letter-spacing: 1px;
}
.links-category li {
  margin-bottom: 5px;
}
.links-category li a {
  color: hsl(270, 9%, 17%);
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}

.links-category a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 375px) {
  h4 {
    margin-bottom: 15px;
    margin-top: 15px;
  }
  h4,
  .links-category ul,
  .links-categoryli {
    text-align: center;
  }
}
/*end of the footer*/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
